html, body {
    height: 100%;
}

body {
    padding-top: 100px;
    background-color: #263238;
    position: relative;
}

.wallpaper {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    filter: blur(50px);
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

