<section>
    <div class="page-header">
        <h1>Configurations</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="configuration in vm.configurations"
           data-ui-sref="configurations.view({ configurationId: configuration._id })"
           class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="configuration.created | date:'mediumDate'"></span>
                by
                <span data-ng-if="configuration.user" data-ng-bind="configuration.user.displayName"></span>
                <span data-ng-if="!configuration.user">Deleted User</span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="configuration.name"></h4>
            <code data-ng-bind="configuration.config"> </code>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="vm.configurations.$resolved && !vm.configurations.length">
        No Configurations yet, why don't you <a data-ui-sref="configurations.create">create one</a>?
    </div>
</section>
