<section>
    <div class="page-header">
        <h1 data-ng-bind="vm.configuration.name"></h1>
        <code data-ng-bind="vm.configuration.config"></code>
    </div>
    <div class="pull-right"
         data-ng-show="vm.configuration.isCurrentUserOwner">
        <a class="btn btn-primary"
           data-ui-sref="configurations.edit({ configurationId: vm.configuration._id })">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="vm.configuration.created | date:'mediumDate'"></span>
            by
            <span data-ng-if="vm.configuration.user"
                  data-ng-bind="vm.configuration.user.displayName"></span>
            <span data-ng-if="!vm.configuration.user">Deleted User</span>
        </em>
    </small>
    <p class="lead" data-ng-bind="vm.configuration.content"></p>
</section>
